@mixin gridArea($valorUno, $valorDos, $valorTres, $valorCuatro) {
  grid-area: #{$valorUno} / #{$valorDos} / #{$valorTres} / #{$valorCuatro};
}
@mixin flexBasico {
  display: flex;
  justify-content: center;
  align-items: center;
}
